<div data-role="view" data-id="main-view" data-layout="main-layout" class="activities-view" >
    <div data-role="header">
        <div data-role="navbar">
        </div>
    </div>
</div>

<!-- main-layout-->
<div data-role="layout" data-id="main-layout">
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/addView.html"   data-icon="add"   >Add</a>
            <a href="views/watchView.html" data-icon="search">Watch</a>
            <a href="views/warnView.html"  data-icon="about" >Warn Me</a>                  
        </div>
    </div>
</div>