<div data-role="view" data-id="main-view" data-layout="main-layout" class="main-view">
</div>
<!-- main-layout-->
<div data-role="layout" data-id="main-layout">
    <div data-role="header">
        <div data-role="navbar">
            <a href="views/profileView.html" data-role="button" data-icon="contacts">Profile</a>
            <a href="index.html" data-role="button" data-icon="">Log Out</a>
        </div>
    </div>
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/addView.html" data-role="button" data-icon="add">Add</a>
            <a href="views/watchView.html" data-role="button" data-icon="search">Watch</a>
            <a href="views/warnView.html" data-role="button" data-icon="about">Warn Me</a> 
        </div>
    </div>
</div>